<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        table th, td  {
          border: 1px solid;
          padding: 10px;
        }
        th{
          color: white;
          background-color: rgb(18, 21, 216);
        }
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;
        }
    </style>
    <table>
        <tr>
            <th>Transaction_code</th>
            <th>Wallet</th>
            <th>Transaction_amount</th>
            <th>Transaction_type</th>
           
        </tr>
        {% for transaction in transactions%}
        <tr>
            <td>{{transaction.transaction_code}}</td>
                <td>{{transaction.wallet}}</td>
                    <td>{{transaction.ransaction_amount}}</td> 
                    <td>{{transaction.ransaction_type}}</td>
                

        </tr>
    {% endfor %}
    </table>
    
</body>
</html>