<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        table th, td  {
          border: 1px solid;
          padding: 10px;
        }
        th{
          color: white;
          background-color: rgb(18, 21, 216);
        }
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;
        }
    </style>
    <table>
        <tr>
            <th>balance</th>
            <th>customer_id</th>
            <th>currency</th>
            <th>time</th>
            <th>status</th>
            <th>History</th>
            <th>Pin</th>
            <th>Active</th>
            <th>Date Created</th>
            <th>Type</th>
        </tr>
        {% for wallet in wallets%}
        <tr>
            <td>{{wallet.balance}}</td>
                <td>{{wallet.customer_id}}</td>
                    <td>{{wallet.currency}}</td> 
                    <td>{{wallet.time}}</td>
                <td>{{wallet.status}}</td>
                    <td>{{wallet.history}}</td>
                    <td>{{wallet.pin}}</td>
                <td>{{wallet.last_active}}</td>
                    <td>{{wallet.datecreated}}</td>
                    <td>{{wallet.type}}</td>

        </tr>
    {% endfor %}
    </table>
    
</body>
</html>