<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        table th, td  {
          border: 1px solid;
          padding: 10px;
        }
        th{
          color: white;
          background-color: rgb(18, 21, 216);
        }
        table {
          width: 80%;
          border-collapse: collapse;
          margin-left: 10%;
        }
    </style>
    <table>
        <tr>
            <th>Issue_date</th>
            <th>Card_name</th>
            <th>Card_number</th>
            <th>Card_type</th>
         
        </tr>
        {% for card in cards%}
        <tr>
            <td>{{card.issue_date}}</td>
                <td>{{card.card_name}}</td>
                    <td>{{card.number}}</td> 
                    <td>{{card.type}}</td>
                

        </tr>
    {% endfor %}
    </table>
    
</body>
</html>